**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.github/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Makefile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.phpcs.cache
.phpunit.result.cache
.phpcs.xml
.phpstan.neon
.phpunit.xml
.psaml.xml
bin/*
!bin/console
build/
external/
helm/
migrations/
tests/
var/
vendor/
