root = true

[*]
end_of_line = lf
indent_style = space
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,php,json}]
indent_size = 4

[*.{neon,yml,yaml}]
indent_size = 2

[Makefile]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[*.php]
max_line_length = 120
