###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> Docker ###
**/*.override.yml
###< Docker ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
!/config/jwt/test-*.pem
###< lexik/jwt-authentication-bundle ###
